@import './lib/normalize.css';
@import './lib/fonts.css';

BLACK = #050A07;
YR_BLUE = #00b9f1;
DARK_BLUE = darken(YR_BLUE, 60%);
GREEN = #41d041;
RED = #d21111;
TRANSITION_DURATION = 400ms;
TRANSITION_DURATION_SHORT = 200ms;
TRANSITION_DURATION_LONG = 800ms;
TRANSITION_TIMING_CUBIC_OUT = cubic-bezier(0.215, 0.61, 0.355, 1);

html,
body {
  width: 100%;
  height: 100%;
}
html {
  background-color: white;
}
body {
  color: BLACK;
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  font-variant: normal;
  font-weight: 500;
  overflow: hidden;
  z-index: 0;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: normal;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 4vw;
  font-weight: 900;
}
h2 {
  font-size: 2.2vw;
  font-weight: 400;
}
h3 {
  font-size: 1.4vw;
  font-weight: 400;
}
ul {
  margin: 0;
  padding: 0 0 0 0.5vw;
}
li {
  font-size: 1.2vw;
  list-style-type: none;
  padding: 0.5vw 0;
  &::before {
    display: inline-block;
    padding-right: 0.5vw;
  }
  &.good::before {
    content: '+';
    color: GREEN;
  }
  &.bad::before {
    content: '—';
    color: RED;
  }
}
section {
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: all TRANSITION_DURATION TRANSITION_TIMING_CUBIC_OUT;
  visibility: hidden;
  width: 100%;
  &.show {
    visibility: visible;
  }
  &.hide {
    visibility: hidden;
  }
}
.partial {
  opacity: 0;
  transition: all 0.5s;
  &.show {
    opacity: 1;
  }
}

#title {
  color: #9FB26D;
  text-align: center;
  transition-duration: 500ms;
  h1 {
    line-height: 1;
    transition: all TRANSITION_DURATION TRANSITION_TIMING_CUBIC_OUT;
  }
  .top,
  .bottom {
    background-size: cover;
    overflow: hidden;
    position: relative;
    transition: all TRANSITION_DURATION 100ms TRANSITION_TIMING_CUBIC_OUT;
    width: 100%;
    h1 {
      left: 50%;
      mix-blend-mode: difference;
      position: absolute;
      text-transform: uppercase;
    }
  }
  .top {
    background-image: url('src/images/nodeconf-14.jpg');
    background-position: center top;
    height: 45%;
    h1 {
      bottom: -0.8vw;
      margin-left: -3rem;
      transform: translateX(-100%);
    }
  }
  .middle {
    left: 50%;
    mix-blend-mode: difference;
    position: absolute;
    top: 45%;
    z-index: 1;
    h1 {
      font-size: 3vw;
      font-weight: 500;
      transform: translate(-50%, -1.25vw);
    }
  }
  .bottom {
    background-image: url('src/images/nodeconf-13.jpg');
    background-position: center bottom;
    height: 55%;
    h1 {
      font-weight: 400;
      margin-left: 3rem;
      top: -0.4vw;
    }
  }
  &.hide {
    .top {
      transform: translateY(-100%);
      h1 {
        transform: translate(-100%, 100%);
      }
    }
    .middle h1 {
      opacity: 0;
    }
    .bottom {
      transform: translateY(100%);
      h1 {
        transform: translateY(-100%);
      }
    }
  }
}

#history {
  color: DARK_BLUE;
  transition-duration: TRANSITION_DURATION_LONG;
  .logo--yr,
  .partner-logos,
  .stats,
  .launch-date,
  .max-users,
  .mobile-users {
    position: absolute;
    transition: all TRANSITION_DURATION_SHORT TRANSITION_TIMING_CUBIC_OUT;
  }
  .logo--yr {
    height: 10em;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 10em;
    z-index: 1;
  }
  .partner-logos {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35%;
    width: 100%;
    .logo {
      margin: 0 2em;
    }
    .logo--nrk {
      height: 10em;
      width: 10em;
    }
    .logo--met {
      height: 18em;
      width: 18em;
    }
  }
  .stats {
    bottom: 0;
    fill: YR_BLUE;
    right: 0;
    opacity: 1;
    stroke: darken(YR_BLUE, 20%);
    stroke-width: 2px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition-duration: TRANSITION_DURATION;
    visibility: hidden;
    .mobile {
      fill: YR_BLUE;
      stroke: darken(YR_BLUE, 20%);
      visibility: hidden;
    }
  }
  .launch-date,
  .max-users,
  .mobile-users {
    opacity: 0;
  }
  .launch-date {
    right: 1610px;
    bottom: 150px;
    &::after {
      content: '';
      background-color: DARK_BLUE;
      display: block;
      height: 200px;
      left: 50px;
      top: 100%;
      position: absolute;
      width: 2px;
    }
  }
  .max-users {
    right: 240px;
    bottom: 1020px;
    &::after {
      content: '';
      background-color: DARK_BLUE;
      display: block;
      height: 2px;
      right: 0;
      transform: translateX(100%);
      top: 50%;
      position: absolute;
      width: 240px;
    }
  }
  .mobile-users {
    bottom: 50px;
    color: white;
    right: 240px;
  }
  &.step-1 {
    .logo--yr {
      transform: translate(-50%, -150%);
    }
    .partner-logos {
      opacity: 1;
    }
  }
  &.step-2 {
    .partner-logos {
      opacity: 0;
    }
    .stats {
      visibility: visible;
      transform: scaleY(1);
    }
    .launch-date {
      opacity: 1;
    }
  }
  &.step-3 {
    .max-users {
      opacity: 1;
    }
  }
  &.step-4 {
    .stats {
      fill: lighten(YR_BLUE, 70%);
      stroke: lighten(YR_BLUE, 40%);
      .mobile {
        visibility: visible;
      }
    }
    .mobile-users {
      opacity: 1;
    }
  }
  &.hide {
    .logo--yr {
      opacity: 0;
    }
    .stats {
      opacity: 0;
      transform: scaleY(10);
      .mobile {
        visibility: hidden;
      }
    }
    .launch-date,
    .max-users,
    .mobile-users {
      opacity: 0;
    }
  }
}

#geography {
  color: DARK_BLUE;
  .map {
    fill: white;
    height: 100%;
    opacity: 0;
    stroke: lighten(YR_BLUE, 40%);
    stroke-width: 1;
    transform: scale(6);
    transition: all TRANSITION_DURATION TRANSITION_DURATION_SHORT TRANSITION_TIMING_CUBIC_OUT;
    width: 100%;
    path {
      transition: fill TRANSITION_DURATION_SHORT linear;
    }
  }
  .title,
  .no-users,
  .nk-users {
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    padding: 0.5vw 1vw;
    position: absolute;
    transition: opacity TRANSITION_DURATION_SHORT linear;
  }
  .title {
    bottom: 2vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .no-users {
    left: 44%;
    top: 22%;
  }
  .nk-users {
    right: 10%;
    top: 45%;
  }
  &.show {
    .map {
      opacity: 1;
      transform: scale(1);
    }
  }
  &.step-1 {
    path {
      fill: lighten(YR_BLUE, 70%);
      &.none {
        fill: white;
      }
    }
  }
  &.step-2 {
    path {
      &.med {
        fill: lighten(YR_BLUE, 20%);
        stroke: darken(YR_BLUE, 10%);
      }
      &.med-high {
        fill: lighten(YR_BLUE, 10%);
        stroke: darken(YR_BLUE, 10%);
      }
      &.high {
        fill: YR_BLUE;
        stroke: darken(YR_BLUE, 20%);
      }
    }
    .title,
    .no-users {
      opacity: 1;
    }
  }
  &.step-3 {
    .nk-users {
      opacity: 1;
    }
  }
  &.hide {
    .map,
    .title,
    .no-users,
    .nk-users {
      opacity: 0;
    }
  }
}

#mobile {
  perspective: 60rem;
  transition-duration: TRANSITION_DURATION_LONG;
  .m,
  .www,
  .phone {
    position: absolute;
    transition: transform TRANSITION_DURATION TRANSITION_TIMING_CUBIC_OUT, opacity TRANSITION_DURATION_SHORT linear;
  }
  .phone {
    height: 875px;
    left: 50%;
    margin: -400px 0 0 -250px;
    top: 50%;
    transform-style: preserve-3d;
    width: 500px;
    &.n95 {
      z-index: 1;
    }
    &.iphone {
      opacity: 0;
    }
    figure {
      backface-visibility: hidden;
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      &.front {
        z-index: 2;
      }
      &.back {
        transform: rotateY(180deg);
      }
      figcaption {
        display: block;
        font-size: 1.4vw;
        margin-top: 1vw;
      }
    }
  }
  .m,
  .www {
    left: 50%;
    opacity: 0;
    top: 30%;
  }
  .m {
    transform: translateX(-200%);
  }
  .www {
    transform: translateX(200%);
  }
  &.step-1 {
    .n95 {
      transform: rotateY(-180deg);
    }
  }
  &.step-2 {
    .m {
      transform: translateX(-300%);
    }
    .n95 {
      transform: translateX(-50%) rotateY(-180deg);
    }
    .iphone {
      opacity: 1;
      transform: translateX(50%);
    }
  }
  &.step-3 {
    .iphone {
      transform: translateX(50%) rotateY(180deg);
    }
  }
  &.step-4 {
    .m {
      opacity: 1;
    }
  }
  &.step-5 {
    .www {
      opacity: 1;
    }
  }
  &.hide {
    .m,
    .www {
      opacity: 0;
    }
    .n95 {
      transform: translateX(25%) rotateY(0deg);
    }
    .iphone {
      transform: translateX(-25%) rotateY(0deg);
      .front {
        visibility: hidden;
      }
    }
  }
}

#architecture {
  background-image: url('src/images/nodeconf-8.jpg');
  background-position: bottom center;
  background-size: cover;
  opacity: 0;
  .diagram {
    bottom: 50%;
    font-weight: 400;
    left: 48%;
    opacity: 0;
    position: absolute;
    transform: scale(2.5);
    transition: transform TRANSITION_DURATION TRANSITION_TIMING_CUBIC_OUT, opacity TRANSITION_DURATION_SHORT linear;
    .api {
      fill: #DC7E0A;
    }
    .data {
      fill: #F3DA5E;
    }
    .view {
      fill: #2C8190;
    }
    .text {
      fill: #3B4E64;
      stroke: #3B4E64;
      circle,
      line {
        stroke-dasharray: 2 2;
        opacity: 0.4
      }
      text {
        stroke: none;
      }
    }
  }
  .diagram.old {
    transform: translateY(200%) scale(0.5);
    .text {
      opacity: 0;
      transition: opacity TRANSITION_DURATION_SHORT linear;
    }
  }
  .diagram.new-api {
    .api-2 {
      opacity: 0;
    }
  }
  .diagram.new-view {
    .ring {
      opacity: 0;
    }
  }
  &.show {
    opacity: 1;
  }
  &.step-1 {
    .diagram.old {
      opacity: 1;
      transform: translateY(0) scale(2.5);
    }
  }
  &.step-2 {
    .diagram.old {
      .text {
        opacity: 1;
      }
    }
  }
  &.step-3 {
    .diagram.old {
      opacity: 0.5;
      transform: translate(-600%, 0) scale(2.5);
    }
  }
  &.step-4 {
    .diagram.new-data {
      opacity: 1;
    }
  }
  &.step-5 {
    .diagram.new-data {
      transform: translate(0, -250%) scale(2.5);
    }
    .diagram.new-api,
    .diagram.new-view {
      opacity: 1;
      transform: translate(150%, -25%) scale(2.5);
    }
  }
  &.step-6 {
    .diagram.new-data {
      transform: translate(-50%, -275%) scale(2.5);
    }
    .diagram.new-api {
      transform: translate(200%, -150%) scale(2.5);
      .api-2 {
        opacity: 1;
      }
    }
    .diagram.new-view {
      transform: translate(0, 0) scale(2.5);
      .ring {
        opacity: 0.4;
      }
    }
  }
  &.hide {
    opacity: 0;
  }
}